:root {
  --backingRed: #a2231d;
  --darkerRed: #781f19;
  --white: #ffffff;
}

body {
  background-color: var(--backingRed);
}

.app-text {
  font-family: "Verdana";
  color: var(--white);
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.flex-1 {
  flex: 1;
}

.border {
  border: 2px dotted white;
}

.pomodoro-svg {
  height: 330px;
  width: 330px;
  /* border: 1px dotted yellow; */
}
.pomodoro-svg > circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 754;
  stroke-width: 10;
  transform-origin: center center;
}

.backing-circle {
  stroke: var(--darkerRed);
}

.progress-circle {
  transform: rotate(-90deg);
  stroke: var(--white);
  opacity: 0;
}

.action-button {
  fill: var(--white);
}

.settings-panel {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  justify-content: flex-end;
  align-items: flex-end;
}

.time-label {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  fill: var(--white);
  margin: 0 auto;
  opacity: 0;
}

.font-button-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.font-button-svg {
  /* position: relative; */
  height: 50px;
  width: 50px;
}

.font-button-icon {
  flex: 1;
}

.action-button-panel {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: space-around;
}

.pomodoro-screen-container {
  display: flex;
  flex-flow: column nowrap;
}

.pomodoro-timer {
  align-self: center;
}

.pomodoro-task {
  justify-content: center;
}

.pomodoro-sets {
  justify-content: center;
}

.center {
  text-align: center;
}

.timer-slider-container {
  align-items: center;
}

.time-text-input {
  width: 50px;
}

.task-input-container {
  align-items: center;
}
