svg {
  border: 1px solid red;
  height: 300px;
  width: 300px;
}
circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 565;
  stroke: #c6c4c4;
  stroke-width: 10;
}

#progress-circle {
  transform-origin: center center;
  transform: rotate(-90deg);
  stroke-width: 10;
  stroke: #008000;
  transition: stroke-dashoffset 1s linear;
}

#time-label {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  fill: red;
  margin: 0 auto;
  border: 1px solid blue;
}
