.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.flex-1 {
  flex: 1;
}

.pomodoro-svg {
  border: 1px solid red;
  height: 350px;
  width: 350px;
}
.pomodoro-svg > circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 754;
  stroke-width: 10;
  transform-origin: center center;
}

.backing-circle {
  stroke: #c6c4c4;
}

.progress-circle {
  transform: rotate(-90deg);
  stroke: #008000;
  opacity: 0;
  /* transition: stroke-dashoffset 1s linear, opacity 0.5s ease-in; */
}

.settings-panel {
  display: flex;
  flex-flow: row nowrap;
  border: 2px dotted red;
  height: 60px;
  justify-content: flex-end;
  align-items: flex-end;
}

.time-label {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  fill: red;
  margin: 0 auto;
  border: 1px solid blue;
  opacity: 0;
}

.font-button-container {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid red;
  position: relative;
}

.font-button-svg {
  /* position: relative; */
  border: 1px solid blue;
  height: 50px;
  width: 50px;
}

.font-button-icon {
  flex: 1;
  border: 1px solid green;
}

.action-button-panel {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: space-around;
  border: 1px dotted darkmagenta;
}

.pomodoro-screen-container {
  display: flex;
  flex-flow: column nowrap;
}

.pomodoro-timer {
  align-self: center;
}

.pomodoro-task {
  justify-content: center;
}

.pomodoro-sets {
  justify-content: center;
}

.center {
  text-align: center;
}
